.right-nav {
  float: right;
  margin-right: 1%;
}

#signup a:hover, #login a:hover {
  text-decoration: none;
}

#append, #append-2 {
  padding: 5%;
  display: inline-block;
}

#new_event, #your_event {
  padding: 5%;
  width: 500px;
  height: 400px;
  display: inline-block;
}